<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <!-- External CSS Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600;700&family=Roboto&display=swap" rel="stylesheet">  
</head>

<body>
    <h1>Todo List</h1>
    <ul class="todoList">
    <% for(let i = 0; i < zebra.length; i++) { %>
        <li class="todo">
            <% if(zebra[i].completed === true) {%>
            <span class="completed"><%= zebra[i].todo %></span>
            <% } else { %>
            <span><%= zebra[i].todo %></span>
            <!-- <span class='delete'> Delete </span> -->
            <% } %>
            <button class="delete">
                <i class="fas fa-trash-alt"></i>
            </button>
        </li>
    <% } %>
    </ul>

    <h2>Things left to do: <%= left %></h2>

    <form action="/createTodo" method="POST">
        <input class="todoInput" type="text" placeholder="New task" name="todoItem">
        <button class="todoButton" type="submit">
            <i class="fas fa-plus-square"></i>
        </button>
    </form>

    <script src="js/main.js"></script>
</body>

</html>