/******************************************
/* CSS
/*******************************************/

/* Colors */
/* dark grey: #333333 */
/* white: #E3E3DF */
/* light blue: #D6E0E5 */

/* Box Model Hack */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
  
/******************************************
/* LAYOUT
/*******************************************/
body {
    min-height: 100vh;
    background-color: #E3E3DF;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header > h1 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 4.2rem;
    color: #333333
}

form > input, form > button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: .8rem 1.4rem;
    border: none;

}

form > button {
    background: #333333;
    color: #E3E3DF;
    cursor: pointer;
    transition: all 0.3s ease;
}

form > button:hover {
    background: #E93B22;
    color: #333333;
}

i {
    size: 100rem;
}